@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  body{
    background:url('../img/piano.jpeg') no-repeat;
    background-size: contain; 
  } 
  main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1.25rem;
  }
  audio{
    margin-left: 130px;
  }
  .carousel h2{
    color: white;
    margin-left: 140px;
    font-family: 'Tangerine', cursive;
    font-size: 30pt;
  }
  body{
    background-color: black;
  }
  a:link{
    color: white;
    text-decoration: none;
  }
  a:visited{
    color: white;
    text-decoration: none;
  }
  a:hover{
    background-color: rgba(255,165,0,0.5)
  }
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; 
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

#navBar{
  color: white;
  font-size: 2em;
  font-family: 'Tangerine', cursive;
  height: 10px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 180px;
  width: 500px;
}
li{
  width:fit-content;
  display: inline;
}
main p{
  background-color: rgba(0,0,0,0.5);
  margin-top: 5%;
  margin-bottom: 30%;
  margin-left:auto; 
  margin-right: auto;
  font-size: 50pt;
  color: white;
  font-family:'Tangerine', cursive; 
  animation: fadein 3s;
} 

header h1{
  color: white;
  font-size: 5em;
  padding-left: 50px;
  padding-top:20px;
  font-family: 'Tangerine', cursive;
  animation: fadein 3s;
}
header{
  border-bottom: 5px solid lightgrey;
  content: "";
  display: flex;
  flex: 1 1;
  flex-wrap: nowrap;
  font-style: italic;
  font-weight: bold;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
}
@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1}
}
.carousel h1{
  color: white;
  font-size: 50pt;
  font-family:"Tangerine", cursive;
  display: inline;
  float:left; 
  shape-outside: circle(80%);
  transform: rotate(-50deg);
  margin-top: 15px;
}
.carousel p{
  background-color: rgba(0,0,0,0.5);
  font-size: 50pt;
  color: white;
  font-family:'Tangerine', cursive; 
}
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color:black;
  }
  .slide:nth-child(1) {
    background: url('../img/Sunny.png') center;
    border-radius: 360px;
  }
  .slide:nth-child(2){
      background:url('../img/Ryan.jpeg') center;
      border-radius: 300px;
  }
  .slide:nth-child(3){
      background:url('../img/Carlos.jpeg') center;
      border-radius: 300px;
  }
  .slide:nth-child(4){
      background:url('../img/Peyton.png') center; 
      border-radius: 300px;
  }
  .slide:last-child{
      background:url('../img/Keian.jpeg') center;
      border-radius: 300px;
  }
  .slide:before {
    content: counter();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  .snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  .slide p{
    background-color: rgba(0,0,0,0.5);
    font-size: 50pt;
    color: white;
    font-family:'Tangerine', cursive; 
    margin-top: 500px;
  }
  
  @media (hover: hover) {
    .snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .slide:last-child .snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .snapper {
      animation-name: none;
    }
  }
  .carousel:hover .snapper,
  .carousel:focus-within .snapper {
    animation-name: none;
  }
  .navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  .navigationDev,
  .navigationItems {
    display: inline-block;
  }
  .navButton {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color:lightslategray;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  .carousel::before,
  .carousel::after,
  .previous,
  .next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .previous {
    left: -1rem;
  }
  
  .carousel::after,
  .next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color:white;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url('/img/note.png');
  }
  
  .carousel::after {
    background-image: url('/img/note.png');
  }