
.noteList {
  display: none;
}
.blackKey {
  background-color: black; 
  border-style: solid;
  border-color: black; 
  border-width:thin;
  border: 1px solid black;
  z-index: 1;
  margin: 0px 10px;
  font-weight: bold;
}

.whiteKey {
  border-style: solid;
  border-color: black; 
  border-width:thin;
  border: 1px solid black;
  z-index: 0;
  font-weight: bold;
}

.active.whiteKey {
  background-color: lightgrey;
  filter: drop-shadow(5px 0px 5px darkgray);
}

.active.blackKey {
  background-color: rgb(99, 98, 98);
}


/* Affect key colors on instrument switch */

.synth .whiteKey {
  background-color: rgb(190, 156, 206);
}

.synth .blackKey {
  background-color: rgb(29, 29, 158);
}

.synth .active .whiteKey {
  background-color: darkmagenta;
}

.drums .whiteKey {
  background-color: rgb(143, 169, 241);
}

.drums .blackKey {
  background-color: rgb(25, 29, 24);
}

.blackKey p {
  color: white;
  font-size: 1em;
  font-family: 'Pacifico', cursive;
}

.whiteKey p {
  margin-top: auto !important;
  font-size: 1.3em;
  font-family: 'Pacifico', cursive;
}

.hidden {
  display: none !important;
}

/* For the slider */

#instrument-slider{
  border-bottom: 4px solid #000;
  padding-bottom: 0.25em;
  margin: .5em auto;
  position: relative;
  width: 15em;

}

/* Create a table that is empty that appears below the slider */
#instrument-slider:after{
  content: '';
  display: table; width: 100%; clear: both;
}

/* Hide the Radio Buttons */
#instrument-slider input[type="radio"] {
  display: none;
}

/* Affect the label color and size */
#instrument-slider label {
  color: black;
  float: left;
  width: 33%;
  text-align: center;
  cursor: pointer;
  transition: color .5s;
  margin-bottom: .5em;
}

#instrument-slider label:hover {
  color: rgb(204, 72, 186);
}

#instrument-slider input:checked + label {
  font-weight: bold;
}

/* Creates the black circle slider */
#instrument-slider label:last-of-type:after {
  display: block;
  content: "";
  border: .30em solid black;
  border-radius: 50%;
  position: absolute;
  bottom: -17.1px;
  left: 0;
  margin-left: -0.6em;
  transition: left 0.5s;
  margin-bottom: 10px;

}

#majorChords {
  display: flex;
  justify-content: center;
}

#minorChords {
  display: flex;
  justify-content: center;
}



/* Slide the circle based on which of the 3 radio buttons hav ebeen selected */
#instrument-slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
  left:17%;
}
#instrument-slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
  left: 50%;
}
#instrument-slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
  left: 83%;
}


/* This is for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(163, 162, 162);
  transition: .5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #87b9db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

#togglebuttons {
  display: flex;
}

.chordbutton {
  border-radius: 50%;
  background-color: rgb(214, 214, 213);
  margin: 0px 3px;
}

.chordbutton:hover {
  background-color: #99c2dd;
}

#customChord {
  border-radius: 50%;
  background-color: rgb(252, 69, 36,.5);
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#playback {
  border-width: 10px 0px 10px 20px;
  /* border-color: red blue rgb(161, 161, 154) green; */
  box-sizing: border-box;
  border-color: transparent transparent transparent green;
  margin: 0 5px;
  background-color: white;

}
#recordsection{
  width: 30px;
  height: 30px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 12px;
  grid-row: 2/4;
  grid-column: 6/7;
}
#thingy {
 margin-top:5px;
 margin-left:10px;
 width: 30px;
  height: 30px;
  font-size: 15px;
 grid-row: 3/4;
 grid-column: 6/7;

}
#togglebuttons{
  grid-row: 2/3;
  grid-column: 14/15;
}
#instrument-slider{
  margin-top: 20px;
  grid-row:1/2;
  grid-column: 8/14;
}
@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1}
}
#keyboard{
  animation:fadein 3s;
}
#screenTime{
  width: 50px;
  height: 50px;
  grid-row:2/4;
  grid-column:10/12;
}
