.noteList {
  display: none;
}



.blackKey {
  background-color: black; 
  border-style: solid;
  border-color: black; 
  border-width:thin;
  border: 1px solid black;
  z-index: 1;
  margin: 0px 10px;
}

.whiteKey {
  border-style: solid;
  border-color: black; 
  border-width:thin;
  border: 1px solid black;
  z-index: 0;
}


.whiteKey:hover {
  background-color: rgba(253, 5, 5, 0.5);
}

.blackKey:hover {
  background-color: rgb(169, 231, 231); 
}






/* This is for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(163, 162, 162);
  transition: .5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b73df0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}